-- PulseGear full database schema (PostgreSQL)
-- Generated from prisma/schema.prisma via: npm run sql:schema
-- For fresh databases. Regenerate after schema changes.

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";
-- CreateEnum
CREATE TYPE "ProductStatus" AS ENUM ('DRAFT', 'ACTIVE', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "OrderStatus" AS ENUM ('PENDING', 'PAID', 'PAYMENT_FAILED', 'EXPIRED', 'FULFILLED', 'CANCELED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "InventoryMovementType" AS ENUM ('SALE', 'ADJUSTMENT', 'RESTOCK', 'RESERVATION', 'RELEASE');

-- CreateEnum
CREATE TYPE "OrderInventoryStatus" AS ENUM ('OK', 'SHORT');

-- CreateEnum
CREATE TYPE "AdminRoleName" AS ENUM ('SUPER_ADMIN', 'ADMIN', 'OPERATOR', 'CONTENT_EDITOR', 'ANALYST', 'VIEWER');

-- CreateEnum
CREATE TYPE "ContentType" AS ENUM ('GUIDE', 'FAQ', 'COLLECTION_PAGE', 'STATIC_PAGE');

-- CreateEnum
CREATE TYPE "ContentStatus" AS ENUM ('DRAFT', 'PUBLISHED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "FulfillmentStatus" AS ENUM ('UNFULFILLED', 'FULFILLED');

-- CreateEnum
CREATE TYPE "SeoPageType" AS ENUM ('HOME', 'PRODUCT', 'COLLECTION', 'GUIDE', 'FAQ', 'LANDING');

-- CreateEnum
CREATE TYPE "SeoIssueStatus" AS ENUM ('OPEN', 'REVIEWED', 'ACCEPTED', 'REJECTED', 'RESOLVED');

-- CreateEnum
CREATE TYPE "SeoRecommendationStatus" AS ENUM ('DRAFT', 'REVIEWED', 'APPLIED', 'REJECTED');

-- CreateEnum
CREATE TYPE "ContentOpportunityStatus" AS ENUM ('NEW', 'REVIEWED', 'ACCEPTED', 'REJECTED', 'DONE');

-- CreateEnum
CREATE TYPE "ContentPipelineStatus" AS ENUM ('OPPORTUNITY', 'BRIEF_GENERATED', 'DRAFT_GENERATED', 'NEEDS_REVIEW', 'APPROVED', 'PUBLISHED', 'MONITORING');

-- CreateEnum
CREATE TYPE "InternalLinkSuggestionStatus" AS ENUM ('NEW', 'ACCEPTED', 'REJECTED', 'APPLIED');

-- CreateEnum
CREATE TYPE "ProductCandidateSource" AS ENUM ('MANUAL', 'AI_GENERATED', 'CSV', 'ALIBABA_LINK', 'SUPPLIER_QUOTE');

-- CreateEnum
CREATE TYPE "ProductCandidateStatus" AS ENUM ('NEW', 'RESEARCHING', 'WATCH', 'SAMPLE', 'TEST', 'APPROVED', 'REJECTED', 'HIGH_RISK_REVIEW');

-- CreateEnum
CREATE TYPE "ProductResearchRecommendedAction" AS ENUM ('SAMPLE', 'TEST', 'WATCH', 'REJECT', 'REVIEW', 'APPROVE');

-- CreateEnum
CREATE TYPE "SupplierPlatform" AS ENUM ('ALIBABA', 'ALIEXPRESS', 'CJ_DROPSHIPPING', 'AGENT', 'OTHER');

-- CreateEnum
CREATE TYPE "ProductResearchSignalSource" AS ENUM ('GOOGLE_TRENDS', 'GSC', 'GA4', 'AMAZON', 'ETSY', 'TIKTOK', 'ALIBABA', 'MANUAL');

-- CreateEnum
CREATE TYPE "ProductTestLaunchStatus" AS ENUM ('PLANNED', 'RUNNING', 'COMPLETED', 'STOPPED');

-- CreateEnum
CREATE TYPE "ProductResearchDecisionType" AS ENUM ('SAMPLE', 'TEST', 'WATCH', 'APPROVE', 'REJECT', 'CONVERT_TO_PRODUCT');

-- CreateEnum
CREATE TYPE "ProductResearchImportSource" AS ENUM ('AI', 'CSV', 'ALIBABA_LINK', 'SUPPLIER_QUOTE', 'MANUAL');

-- CreateEnum
CREATE TYPE "ProductResearchRiskSeverity" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'BLOCKING');

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "titleEn" TEXT,
    "titleZh" TEXT,
    "slug" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "shortDescription" TEXT NOT NULL,
    "shortDescriptionEn" TEXT,
    "shortDescriptionZh" TEXT,
    "description" TEXT NOT NULL,
    "descriptionEn" TEXT,
    "descriptionZh" TEXT,
    "seoTitle" TEXT,
    "seoTitleEn" TEXT,
    "seoTitleZh" TEXT,
    "seoDescription" TEXT,
    "seoDescriptionEn" TEXT,
    "seoDescriptionZh" TEXT,
    "canonicalUrl" TEXT,
    "ogImageUrl" TEXT,
    "status" "ProductStatus" NOT NULL DEFAULT 'ACTIVE',
    "badge" TEXT,
    "rating" DECIMAL(2,1) NOT NULL DEFAULT 0,
    "reviewCount" INTEGER NOT NULL DEFAULT 0,
    "benefits" TEXT[],
    "benefitsEn" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "benefitsZh" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "features" TEXT[],
    "featuresEn" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "featuresZh" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "useCases" TEXT[],
    "bundleEligible" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminUser" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "roleId" TEXT NOT NULL,

    CONSTRAINT "AdminUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminRole" (
    "id" TEXT NOT NULL,
    "name" "AdminRoleName" NOT NULL,
    "label" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdminRole_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "actorId" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT NOT NULL,
    "resourceId" TEXT,
    "details" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SeoPage" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "pageType" "SeoPageType" NOT NULL,
    "title" TEXT,
    "metaDescription" TEXT,
    "canonicalUrl" TEXT,
    "h1Count" INTEGER NOT NULL DEFAULT 0,
    "missingAltCount" INTEGER NOT NULL DEFAULT 0,
    "inSitemap" BOOLEAN NOT NULL DEFAULT false,
    "isIndexable" BOOLEAN NOT NULL DEFAULT true,
    "hasProductJsonLd" BOOLEAN NOT NULL DEFAULT false,
    "hasBreadcrumbJsonLd" BOOLEAN NOT NULL DEFAULT false,
    "healthScore" INTEGER NOT NULL DEFAULT 100,
    "lastCheckedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SeoPage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SeoIssue" (
    "id" TEXT NOT NULL,
    "seoPageId" TEXT NOT NULL,
    "issueType" TEXT NOT NULL,
    "severity" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "status" "SeoIssueStatus" NOT NULL DEFAULT 'OPEN',
    "metadata" JSONB,
    "detectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SeoIssue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SeoRecommendation" (
    "id" TEXT NOT NULL,
    "seoPageId" TEXT,
    "recommendationType" TEXT NOT NULL,
    "resourceType" TEXT NOT NULL,
    "resourceId" TEXT,
    "draftPayload" JSONB NOT NULL,
    "reason" TEXT NOT NULL,
    "priority" TEXT NOT NULL,
    "status" "SeoRecommendationStatus" NOT NULL DEFAULT 'DRAFT',
    "isAiDraft" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "appliedAt" TIMESTAMP(3),

    CONSTRAINT "SeoRecommendation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SearchConsoleQueryDaily" (
    "id" TEXT NOT NULL,
    "siteUrl" TEXT NOT NULL,
    "page" TEXT NOT NULL,
    "query" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "device" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "clicks" INTEGER NOT NULL,
    "impressions" INTEGER NOT NULL,
    "ctr" DECIMAL(5,4) NOT NULL,
    "position" DECIMAL(6,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SearchConsoleQueryDaily_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SearchConsolePageDaily" (
    "id" TEXT NOT NULL,
    "siteUrl" TEXT NOT NULL,
    "page" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "device" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "clicks" INTEGER NOT NULL,
    "impressions" INTEGER NOT NULL,
    "ctr" DECIMAL(5,4) NOT NULL,
    "position" DECIMAL(6,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SearchConsolePageDaily_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ga4LandingPageDaily" (
    "id" TEXT NOT NULL,
    "landingPage" TEXT NOT NULL,
    "sourceMedium" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "sessions" INTEGER NOT NULL,
    "totalUsers" INTEGER NOT NULL,
    "pageViews" INTEGER NOT NULL,
    "viewItem" INTEGER NOT NULL,
    "addToCart" INTEGER NOT NULL,
    "beginCheckout" INTEGER NOT NULL,
    "purchase" INTEGER NOT NULL,
    "revenue" DECIMAL(12,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Ga4LandingPageDaily_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContentOpportunity" (
    "id" TEXT NOT NULL,
    "opportunityType" TEXT NOT NULL,
    "keyword" TEXT,
    "currentPage" TEXT,
    "suggestedAction" TEXT NOT NULL,
    "priority" TEXT NOT NULL,
    "expectedImpact" TEXT NOT NULL,
    "status" "ContentOpportunityStatus" NOT NULL DEFAULT 'NEW',
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentOpportunity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContentBrief" (
    "id" TEXT NOT NULL,
    "sourceOpportunityId" TEXT,
    "title" TEXT NOT NULL,
    "targetKeyword" TEXT NOT NULL,
    "outline" JSONB,
    "draftContent" TEXT,
    "relatedProductIds" TEXT[],
    "relatedCollectionSlugs" TEXT[],
    "status" "ContentPipelineStatus" NOT NULL DEFAULT 'OPPORTUNITY',
    "publishedContentEntryId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentBrief_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InternalLinkSuggestion" (
    "id" TEXT NOT NULL,
    "sourcePage" TEXT NOT NULL,
    "targetPage" TEXT NOT NULL,
    "anchorText" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "priority" TEXT NOT NULL,
    "status" "InternalLinkSuggestionStatus" NOT NULL DEFAULT 'NEW',
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InternalLinkSuggestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SeoChangeLog" (
    "id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "resourceType" TEXT NOT NULL,
    "resourceId" TEXT,
    "oldValue" JSONB,
    "newValue" JSONB,
    "operatorId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SeoChangeLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductCandidate" (
    "id" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "chineseName" TEXT,
    "slugSuggestion" TEXT,
    "category" TEXT NOT NULL,
    "targetMarket" TEXT NOT NULL,
    "targetAudience" TEXT,
    "useCase" TEXT,
    "description" TEXT,
    "notes" TEXT,
    "brandAngle" TEXT,
    "positioningSummary" TEXT,
    "alibabaKeywords" TEXT,
    "source" "ProductCandidateSource" NOT NULL,
    "sourceUrl" TEXT,
    "rawImportData" JSONB,
    "aiDraftPayload" JSONB,
    "status" "ProductCandidateStatus" NOT NULL DEFAULT 'NEW',
    "recommendedAction" "ProductResearchRecommendedAction" NOT NULL DEFAULT 'WATCH',
    "finalScore" DOUBLE PRECISION,
    "riskScore" INTEGER,
    "validatedScore" DOUBLE PRECISION,
    "possibleDuplicateOfId" TEXT,
    "createdById" TEXT,
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "convertedProductId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductCandidate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductCandidateScore" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "marketDemandScore" INTEGER NOT NULL,
    "trendSeasonalityScore" INTEGER NOT NULL,
    "competitionGapScore" INTEGER NOT NULL,
    "marginPotentialScore" INTEGER NOT NULL,
    "logisticsFitScore" INTEGER NOT NULL,
    "brandabilityScore" INTEGER NOT NULL,
    "supplierQualityScore" INTEGER NOT NULL,
    "riskScore" INTEGER NOT NULL,
    "riskInverseScore" INTEGER NOT NULL,
    "testabilityScore" INTEGER NOT NULL,
    "finalScore" DOUBLE PRECISION NOT NULL,
    "scoringVersion" TEXT NOT NULL,
    "scoreReasonJson" JSONB,
    "isManualAdjusted" BOOLEAN NOT NULL DEFAULT false,
    "manualAdjustmentReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "computedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductCandidateScore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Supplier" (
    "id" TEXT NOT NULL,
    "platform" "SupplierPlatform" NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT,
    "country" TEXT,
    "verifiedSupplier" BOOLEAN NOT NULL DEFAULT false,
    "tradeAssurance" BOOLEAN NOT NULL DEFAULT false,
    "yearsOnPlatform" INTEGER,
    "responseRate" DOUBLE PRECISION,
    "moq" INTEGER,
    "samplePriceCents" INTEGER,
    "unitPriceCents" INTEGER,
    "customLogoMoq" INTEGER,
    "customPackagingMoq" INTEGER,
    "leadTimeDays" INTEGER,
    "shippingToUSCents" INTEGER,
    "shippingToUKCents" INTEGER,
    "certifications" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Supplier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductCandidateSupplier" (
    "candidateId" TEXT NOT NULL,
    "supplierId" TEXT NOT NULL,
    "quotedUnitPriceCents" INTEGER,
    "quotedMoq" INTEGER,
    "quotedLeadTimeDays" INTEGER,
    "quoteFileUrl" TEXT,
    "notes" TEXT,

    CONSTRAINT "ProductCandidateSupplier_pkey" PRIMARY KEY ("candidateId","supplierId")
);

-- CreateTable
CREATE TABLE "ProductResearchSignal" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "source" "ProductResearchSignalSource" NOT NULL,
    "metricName" TEXT NOT NULL,
    "metricValue" DOUBLE PRECISION NOT NULL,
    "rawData" JSONB,
    "collectedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductResearchSignal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductTestLaunch" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "landingPageUrl" TEXT,
    "channel" TEXT NOT NULL,
    "channelDetail" TEXT,
    "adSpendCents" INTEGER NOT NULL DEFAULT 0,
    "impressions" INTEGER NOT NULL DEFAULT 0,
    "clicks" INTEGER NOT NULL DEFAULT 0,
    "ctr" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "productViews" INTEGER NOT NULL DEFAULT 0,
    "addToCart" INTEGER NOT NULL DEFAULT 0,
    "addToCartRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "beginCheckout" INTEGER NOT NULL DEFAULT 0,
    "checkoutRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "purchases" INTEGER NOT NULL DEFAULT 0,
    "purchaseRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "revenueCents" INTEGER NOT NULL DEFAULT 0,
    "refunds" INTEGER NOT NULL DEFAULT 0,
    "customerFeedbackScore" INTEGER,
    "refundRiskScore" INTEGER,
    "customerFeedbackSummary" TEXT,
    "notes" TEXT,
    "testScore" DOUBLE PRECISION,
    "status" "ProductTestLaunchStatus" NOT NULL DEFAULT 'PLANNED',
    "startedAt" TIMESTAMP(3),
    "endedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductTestLaunch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductResearchDecision" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "decision" "ProductResearchDecisionType" NOT NULL,
    "reason" TEXT,
    "operatorId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductResearchDecision_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductResearchImportBatch" (
    "id" TEXT NOT NULL,
    "source" "ProductResearchImportSource" NOT NULL,
    "fileName" TEXT,
    "totalRows" INTEGER NOT NULL DEFAULT 0,
    "createdCount" INTEGER NOT NULL DEFAULT 0,
    "skippedCount" INTEGER NOT NULL DEFAULT 0,
    "duplicateCount" INTEGER NOT NULL DEFAULT 0,
    "invalidCount" INTEGER NOT NULL DEFAULT 0,
    "createdById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductResearchImportBatch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductResearchRiskFlag" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "riskType" TEXT NOT NULL,
    "severity" "ProductResearchRiskSeverity" NOT NULL,
    "message" TEXT NOT NULL,
    "resolvedAt" TIMESTAMP(3),
    "resolvedById" TEXT,
    "resolutionNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductResearchRiskFlag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScoringRule" (
    "id" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "weights" JSONB NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "createdById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ScoringRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminSettings" (
    "id" TEXT NOT NULL,
    "storefrontUrl" TEXT NOT NULL,
    "supportEmail" TEXT NOT NULL,
    "checkoutCurrency" TEXT NOT NULL DEFAULT 'usd',
    "timezone" TEXT NOT NULL DEFAULT 'America/Los_Angeles',
    "shippingCountries" TEXT[],
    "defaultFulfillmentSlaDays" INTEGER NOT NULL DEFAULT 3,
    "returnsPolicyUrl" TEXT,
    "orderAutoFulfill" BOOLEAN NOT NULL DEFAULT false,
    "primaryPaymentProvider" TEXT NOT NULL DEFAULT 'Stripe Checkout',
    "stripeAutomaticPaymentMethods" BOOLEAN NOT NULL DEFAULT true,
    "paymentFailureMessage" TEXT,
    "adminSessionTtlHours" INTEGER NOT NULL DEFAULT 12,
    "auditLoggingEnabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdminSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SiteSetting" (
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SiteSetting_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "UiCopy" (
    "key" TEXT NOT NULL,
    "locale" TEXT NOT NULL DEFAULT 'en-US',
    "value" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UiCopy_pkey" PRIMARY KEY ("key","locale")
);

-- CreateTable
CREATE TABLE "ContentTemplate" (
    "key" TEXT NOT NULL,
    "locale" TEXT NOT NULL DEFAULT 'en-US',
    "name" TEXT NOT NULL,
    "content" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentTemplate_pkey" PRIMARY KEY ("key","locale")
);

-- CreateTable
CREATE TABLE "SeoAutomationRule" (
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SeoAutomationRule_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "ContentEntry" (
    "id" TEXT NOT NULL,
    "type" "ContentType" NOT NULL,
    "title" TEXT NOT NULL,
    "titleEn" TEXT,
    "titleZh" TEXT,
    "slug" TEXT NOT NULL,
    "status" "ContentStatus" NOT NULL DEFAULT 'DRAFT',
    "seoTitle" TEXT,
    "seoTitleEn" TEXT,
    "seoTitleZh" TEXT,
    "seoDescription" TEXT,
    "seoDescriptionEn" TEXT,
    "seoDescriptionZh" TEXT,
    "publishedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuideContent" (
    "entryId" TEXT NOT NULL,
    "dek" TEXT NOT NULL,
    "dekEn" TEXT,
    "dekZh" TEXT,
    "category" TEXT NOT NULL,
    "categoryEn" TEXT,
    "categoryZh" TEXT,
    "authorName" TEXT NOT NULL,
    "authorRole" TEXT NOT NULL,
    "authorRoleEn" TEXT,
    "authorRoleZh" TEXT,
    "readTime" TEXT NOT NULL,
    "readTimeEn" TEXT,
    "readTimeZh" TEXT,
    "sections" JSONB NOT NULL,
    "sectionsEn" JSONB,
    "sectionsZh" JSONB,
    "faq" JSONB NOT NULL,
    "faqEn" JSONB,
    "faqZh" JSONB,
    "relatedProducts" JSONB NOT NULL,
    "relatedCollections" JSONB NOT NULL,
    "relatedGuides" JSONB NOT NULL,

    CONSTRAINT "GuideContent_pkey" PRIMARY KEY ("entryId")
);

-- CreateTable
CREATE TABLE "FaqContent" (
    "entryId" TEXT NOT NULL,
    "items" JSONB NOT NULL,
    "itemsEn" JSONB,
    "itemsZh" JSONB,

    CONSTRAINT "FaqContent_pkey" PRIMARY KEY ("entryId")
);

-- CreateTable
CREATE TABLE "CollectionLandingContent" (
    "entryId" TEXT NOT NULL,
    "pathname" TEXT NOT NULL,
    "scenario" TEXT,
    "intro" TEXT,
    "introEn" TEXT,
    "introZh" TEXT,
    "category" TEXT,
    "useCase" TEXT,
    "relatedGuideSlugs" JSONB NOT NULL,

    CONSTRAINT "CollectionLandingContent_pkey" PRIMARY KEY ("entryId")
);

-- CreateTable
CREATE TABLE "StaticPageContent" (
    "entryId" TEXT NOT NULL,
    "pageKey" TEXT NOT NULL,
    "pathname" TEXT NOT NULL,
    "content" JSONB NOT NULL,
    "contentEn" JSONB,
    "contentZh" JSONB,

    CONSTRAINT "StaticPageContent_pkey" PRIMARY KEY ("entryId")
);

-- CreateTable
CREATE TABLE "ProductVariant" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "sku" TEXT NOT NULL,
    "color" TEXT NOT NULL,
    "size" TEXT NOT NULL,
    "priceCents" INTEGER NOT NULL,
    "compareAtPriceCents" INTEGER,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "reservedStock" INTEGER NOT NULL DEFAULT 0,
    "lowStockThreshold" INTEGER NOT NULL DEFAULT 5,
    "weightGrams" INTEGER,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductVariant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductImage" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "alt" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "ProductImage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Collection" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Collection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductCollection" (
    "productId" TEXT NOT NULL,
    "collectionId" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "ProductCollection_pkey" PRIMARY KEY ("productId","collectionId")
);

-- CreateTable
CREATE TABLE "Order" (
    "id" TEXT NOT NULL,
    "orderNo" TEXT NOT NULL,
    "email" TEXT,
    "status" "OrderStatus" NOT NULL DEFAULT 'PENDING',
    "currency" TEXT NOT NULL DEFAULT 'usd',
    "subtotalCents" INTEGER NOT NULL,
    "shippingCents" INTEGER NOT NULL,
    "discountCents" INTEGER NOT NULL DEFAULT 0,
    "totalCents" INTEGER NOT NULL,
    "stripeCheckoutSessionId" TEXT,
    "stripePaymentIntentId" TEXT,
    "paymentMethodType" TEXT,
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "inventoryStatus" "OrderInventoryStatus" NOT NULL DEFAULT 'OK',
    "fulfillmentStatus" "FulfillmentStatus" NOT NULL DEFAULT 'UNFULFILLED',
    "fulfilledAt" TIMESTAMP(3),
    "customerCountry" TEXT,
    "shippingAddress" JSONB,
    "billingAddress" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderNote" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "note" TEXT NOT NULL,
    "createdByAdminId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OrderNote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderStatusEvent" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "fromValue" TEXT,
    "toValue" TEXT,
    "details" JSONB,
    "createdByAdminId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OrderStatusEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderItem" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "variantId" TEXT NOT NULL,
    "titleSnapshot" TEXT NOT NULL,
    "skuSnapshot" TEXT NOT NULL,
    "colorSnapshot" TEXT NOT NULL,
    "sizeSnapshot" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "unitPriceCents" INTEGER NOT NULL,
    "lineTotalCents" INTEGER NOT NULL,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentEvent" (
    "id" TEXT NOT NULL,
    "stripeEventId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "orderId" TEXT,
    "payload" JSONB NOT NULL,
    "processedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PaymentEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryMovement" (
    "id" TEXT NOT NULL,
    "variantId" TEXT NOT NULL,
    "orderId" TEXT,
    "type" "InventoryMovementType" NOT NULL,
    "quantity" INTEGER NOT NULL,
    "reason" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InventoryMovement_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Product_slug_key" ON "Product"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "AdminUser_email_key" ON "AdminUser"("email");

-- CreateIndex
CREATE INDEX "AdminUser_roleId_idx" ON "AdminUser"("roleId");

-- CreateIndex
CREATE UNIQUE INDEX "AdminRole_name_key" ON "AdminRole"("name");

-- CreateIndex
CREATE INDEX "AuditLog_actorId_idx" ON "AuditLog"("actorId");

-- CreateIndex
CREATE INDEX "AuditLog_resource_resourceId_idx" ON "AuditLog"("resource", "resourceId");

-- CreateIndex
CREATE INDEX "AuditLog_createdAt_idx" ON "AuditLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "SeoPage_url_key" ON "SeoPage"("url");

-- CreateIndex
CREATE INDEX "SeoPage_pageType_idx" ON "SeoPage"("pageType");

-- CreateIndex
CREATE INDEX "SeoPage_healthScore_idx" ON "SeoPage"("healthScore");

-- CreateIndex
CREATE INDEX "SeoIssue_seoPageId_status_idx" ON "SeoIssue"("seoPageId", "status");

-- CreateIndex
CREATE INDEX "SeoIssue_issueType_severity_idx" ON "SeoIssue"("issueType", "severity");

-- CreateIndex
CREATE INDEX "SeoRecommendation_status_priority_idx" ON "SeoRecommendation"("status", "priority");

-- CreateIndex
CREATE INDEX "SeoRecommendation_resourceType_resourceId_idx" ON "SeoRecommendation"("resourceType", "resourceId");

-- CreateIndex
CREATE INDEX "SearchConsoleQueryDaily_page_date_idx" ON "SearchConsoleQueryDaily"("page", "date");

-- CreateIndex
CREATE UNIQUE INDEX "SearchConsoleQueryDaily_siteUrl_date_query_page_country_dev_key" ON "SearchConsoleQueryDaily"("siteUrl", "date", "query", "page", "country", "device");

-- CreateIndex
CREATE INDEX "SearchConsolePageDaily_page_date_idx" ON "SearchConsolePageDaily"("page", "date");

-- CreateIndex
CREATE UNIQUE INDEX "SearchConsolePageDaily_siteUrl_date_page_country_device_key" ON "SearchConsolePageDaily"("siteUrl", "date", "page", "country", "device");

-- CreateIndex
CREATE INDEX "Ga4LandingPageDaily_landingPage_date_idx" ON "Ga4LandingPageDaily"("landingPage", "date");

-- CreateIndex
CREATE UNIQUE INDEX "Ga4LandingPageDaily_landingPage_sourceMedium_date_key" ON "Ga4LandingPageDaily"("landingPage", "sourceMedium", "date");

-- CreateIndex
CREATE INDEX "ContentOpportunity_status_priority_idx" ON "ContentOpportunity"("status", "priority");

-- CreateIndex
CREATE INDEX "ContentOpportunity_opportunityType_idx" ON "ContentOpportunity"("opportunityType");

-- CreateIndex
CREATE INDEX "ContentBrief_status_idx" ON "ContentBrief"("status");

-- CreateIndex
CREATE INDEX "InternalLinkSuggestion_status_priority_idx" ON "InternalLinkSuggestion"("status", "priority");

-- CreateIndex
CREATE INDEX "SeoChangeLog_resourceType_resourceId_idx" ON "SeoChangeLog"("resourceType", "resourceId");

-- CreateIndex
CREATE INDEX "SeoChangeLog_operatorId_createdAt_idx" ON "SeoChangeLog"("operatorId", "createdAt");

-- CreateIndex
CREATE INDEX "ProductCandidate_status_updatedAt_idx" ON "ProductCandidate"("status", "updatedAt");

-- CreateIndex
CREATE INDEX "ProductCandidate_source_createdAt_idx" ON "ProductCandidate"("source", "createdAt");

-- CreateIndex
CREATE INDEX "ProductCandidate_targetMarket_category_idx" ON "ProductCandidate"("targetMarket", "category");

-- CreateIndex
CREATE INDEX "ProductCandidate_productName_idx" ON "ProductCandidate"("productName");

-- CreateIndex
CREATE INDEX "ProductCandidate_productName_category_targetMarket_idx" ON "ProductCandidate"("productName", "category", "targetMarket");

-- CreateIndex
CREATE INDEX "ProductCandidate_recommendedAction_idx" ON "ProductCandidate"("recommendedAction");

-- CreateIndex
CREATE INDEX "ProductCandidate_finalScore_idx" ON "ProductCandidate"("finalScore");

-- CreateIndex
CREATE INDEX "ProductCandidate_riskScore_idx" ON "ProductCandidate"("riskScore");

-- CreateIndex
CREATE INDEX "ProductCandidate_possibleDuplicateOfId_idx" ON "ProductCandidate"("possibleDuplicateOfId");

-- CreateIndex
CREATE INDEX "ProductCandidate_createdById_idx" ON "ProductCandidate"("createdById");

-- CreateIndex
CREATE INDEX "ProductCandidate_approvedById_idx" ON "ProductCandidate"("approvedById");

-- CreateIndex
CREATE INDEX "ProductCandidateScore_candidateId_createdAt_idx" ON "ProductCandidateScore"("candidateId", "createdAt");

-- CreateIndex
CREATE INDEX "ProductCandidateScore_scoringVersion_idx" ON "ProductCandidateScore"("scoringVersion");

-- CreateIndex
CREATE INDEX "Supplier_platform_country_idx" ON "Supplier"("platform", "country");

-- CreateIndex
CREATE INDEX "Supplier_verifiedSupplier_tradeAssurance_idx" ON "Supplier"("verifiedSupplier", "tradeAssurance");

-- CreateIndex
CREATE INDEX "Supplier_name_idx" ON "Supplier"("name");

-- CreateIndex
CREATE INDEX "Supplier_url_idx" ON "Supplier"("url");

-- CreateIndex
CREATE INDEX "ProductCandidateSupplier_supplierId_idx" ON "ProductCandidateSupplier"("supplierId");

-- CreateIndex
CREATE INDEX "ProductResearchSignal_candidateId_source_idx" ON "ProductResearchSignal"("candidateId", "source");

-- CreateIndex
CREATE INDEX "ProductResearchSignal_metricName_collectedAt_idx" ON "ProductResearchSignal"("metricName", "collectedAt");

-- CreateIndex
CREATE INDEX "ProductTestLaunch_candidateId_status_idx" ON "ProductTestLaunch"("candidateId", "status");

-- CreateIndex
CREATE INDEX "ProductTestLaunch_status_startedAt_idx" ON "ProductTestLaunch"("status", "startedAt");

-- CreateIndex
CREATE INDEX "ProductResearchDecision_candidateId_createdAt_idx" ON "ProductResearchDecision"("candidateId", "createdAt");

-- CreateIndex
CREATE INDEX "ProductResearchDecision_operatorId_createdAt_idx" ON "ProductResearchDecision"("operatorId", "createdAt");

-- CreateIndex
CREATE INDEX "ProductResearchDecision_decision_createdAt_idx" ON "ProductResearchDecision"("decision", "createdAt");

-- CreateIndex
CREATE INDEX "ProductResearchImportBatch_source_createdAt_idx" ON "ProductResearchImportBatch"("source", "createdAt");

-- CreateIndex
CREATE INDEX "ProductResearchImportBatch_createdById_createdAt_idx" ON "ProductResearchImportBatch"("createdById", "createdAt");

-- CreateIndex
CREATE INDEX "ProductResearchRiskFlag_candidateId_severity_idx" ON "ProductResearchRiskFlag"("candidateId", "severity");

-- CreateIndex
CREATE INDEX "ProductResearchRiskFlag_candidateId_resolvedAt_idx" ON "ProductResearchRiskFlag"("candidateId", "resolvedAt");

-- CreateIndex
CREATE INDEX "ProductResearchRiskFlag_severity_createdAt_idx" ON "ProductResearchRiskFlag"("severity", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "ScoringRule_version_key" ON "ScoringRule"("version");

-- CreateIndex
CREATE INDEX "ScoringRule_isActive_createdAt_idx" ON "ScoringRule"("isActive", "createdAt");

-- CreateIndex
CREATE INDEX "ScoringRule_createdById_idx" ON "ScoringRule"("createdById");

-- CreateIndex
CREATE INDEX "ContentEntry_type_status_idx" ON "ContentEntry"("type", "status");

-- CreateIndex
CREATE UNIQUE INDEX "ContentEntry_type_slug_key" ON "ContentEntry"("type", "slug");

-- CreateIndex
CREATE UNIQUE INDEX "CollectionLandingContent_pathname_key" ON "CollectionLandingContent"("pathname");

-- CreateIndex
CREATE UNIQUE INDEX "StaticPageContent_pageKey_key" ON "StaticPageContent"("pageKey");

-- CreateIndex
CREATE UNIQUE INDEX "StaticPageContent_pathname_key" ON "StaticPageContent"("pathname");

-- CreateIndex
CREATE UNIQUE INDEX "ProductVariant_sku_key" ON "ProductVariant"("sku");

-- CreateIndex
CREATE INDEX "ProductVariant_productId_idx" ON "ProductVariant"("productId");

-- CreateIndex
CREATE INDEX "ProductVariant_color_size_idx" ON "ProductVariant"("color", "size");

-- CreateIndex
CREATE INDEX "ProductImage_productId_idx" ON "ProductImage"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "Collection_slug_key" ON "Collection"("slug");

-- CreateIndex
CREATE INDEX "ProductCollection_collectionId_idx" ON "ProductCollection"("collectionId");

-- CreateIndex
CREATE UNIQUE INDEX "Order_orderNo_key" ON "Order"("orderNo");

-- CreateIndex
CREATE UNIQUE INDEX "Order_stripeCheckoutSessionId_key" ON "Order"("stripeCheckoutSessionId");

-- CreateIndex
CREATE INDEX "Order_status_idx" ON "Order"("status");

-- CreateIndex
CREATE INDEX "Order_stripePaymentIntentId_idx" ON "Order"("stripePaymentIntentId");

-- CreateIndex
CREATE INDEX "Order_paymentStatus_fulfillmentStatus_idx" ON "Order"("paymentStatus", "fulfillmentStatus");

-- CreateIndex
CREATE INDEX "OrderNote_orderId_createdAt_idx" ON "OrderNote"("orderId", "createdAt");

-- CreateIndex
CREATE INDEX "OrderNote_createdByAdminId_idx" ON "OrderNote"("createdByAdminId");

-- CreateIndex
CREATE INDEX "OrderStatusEvent_orderId_createdAt_idx" ON "OrderStatusEvent"("orderId", "createdAt");

-- CreateIndex
CREATE INDEX "OrderStatusEvent_createdByAdminId_idx" ON "OrderStatusEvent"("createdByAdminId");

-- CreateIndex
CREATE INDEX "OrderItem_orderId_idx" ON "OrderItem"("orderId");

-- CreateIndex
CREATE INDEX "OrderItem_variantId_idx" ON "OrderItem"("variantId");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentEvent_stripeEventId_key" ON "PaymentEvent"("stripeEventId");

-- CreateIndex
CREATE INDEX "InventoryMovement_variantId_idx" ON "InventoryMovement"("variantId");

-- CreateIndex
CREATE INDEX "InventoryMovement_orderId_idx" ON "InventoryMovement"("orderId");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryMovement_orderId_variantId_type_key" ON "InventoryMovement"("orderId", "variantId", "type");

-- AddForeignKey
ALTER TABLE "AdminUser" ADD CONSTRAINT "AdminUser_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "AdminRole"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SeoIssue" ADD CONSTRAINT "SeoIssue_seoPageId_fkey" FOREIGN KEY ("seoPageId") REFERENCES "SeoPage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SeoRecommendation" ADD CONSTRAINT "SeoRecommendation_seoPageId_fkey" FOREIGN KEY ("seoPageId") REFERENCES "SeoPage"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContentBrief" ADD CONSTRAINT "ContentBrief_sourceOpportunityId_fkey" FOREIGN KEY ("sourceOpportunityId") REFERENCES "ContentOpportunity"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SeoChangeLog" ADD CONSTRAINT "SeoChangeLog_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidate" ADD CONSTRAINT "ProductCandidate_possibleDuplicateOfId_fkey" FOREIGN KEY ("possibleDuplicateOfId") REFERENCES "ProductCandidate"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidate" ADD CONSTRAINT "ProductCandidate_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidate" ADD CONSTRAINT "ProductCandidate_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidate" ADD CONSTRAINT "ProductCandidate_convertedProductId_fkey" FOREIGN KEY ("convertedProductId") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidateScore" ADD CONSTRAINT "ProductCandidateScore_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "ProductCandidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidateSupplier" ADD CONSTRAINT "ProductCandidateSupplier_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "ProductCandidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCandidateSupplier" ADD CONSTRAINT "ProductCandidateSupplier_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductResearchSignal" ADD CONSTRAINT "ProductResearchSignal_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "ProductCandidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductTestLaunch" ADD CONSTRAINT "ProductTestLaunch_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "ProductCandidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductResearchDecision" ADD CONSTRAINT "ProductResearchDecision_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "ProductCandidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductResearchDecision" ADD CONSTRAINT "ProductResearchDecision_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductResearchImportBatch" ADD CONSTRAINT "ProductResearchImportBatch_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductResearchRiskFlag" ADD CONSTRAINT "ProductResearchRiskFlag_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "ProductCandidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductResearchRiskFlag" ADD CONSTRAINT "ProductResearchRiskFlag_resolvedById_fkey" FOREIGN KEY ("resolvedById") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScoringRule" ADD CONSTRAINT "ScoringRule_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuideContent" ADD CONSTRAINT "GuideContent_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "ContentEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FaqContent" ADD CONSTRAINT "FaqContent_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "ContentEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CollectionLandingContent" ADD CONSTRAINT "CollectionLandingContent_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "ContentEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StaticPageContent" ADD CONSTRAINT "StaticPageContent_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "ContentEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductVariant" ADD CONSTRAINT "ProductVariant_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductImage" ADD CONSTRAINT "ProductImage_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCollection" ADD CONSTRAINT "ProductCollection_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCollection" ADD CONSTRAINT "ProductCollection_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "Collection"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderNote" ADD CONSTRAINT "OrderNote_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderNote" ADD CONSTRAINT "OrderNote_createdByAdminId_fkey" FOREIGN KEY ("createdByAdminId") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderStatusEvent" ADD CONSTRAINT "OrderStatusEvent_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderStatusEvent" ADD CONSTRAINT "OrderStatusEvent_createdByAdminId_fkey" FOREIGN KEY ("createdByAdminId") REFERENCES "AdminUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES "ProductVariant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentEvent" ADD CONSTRAINT "PaymentEvent_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryMovement" ADD CONSTRAINT "InventoryMovement_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES "ProductVariant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryMovement" ADD CONSTRAINT "InventoryMovement_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

